<visus>
    <dataset name="BART" url="file:///converted/BART/BART.idx" permissions="public"/>
    <dataset name="BLAN" url="file:///converted/BLAN/BLAN.idx" permissions="public"/>
    <dataset name="CLBJ" url="file:///converted/CLBJ/CLBJ.idx" permissions="public"/>
    <dataset name="CUPE" url="file:///converted/CUPE/CUPE.idx" permissions="public"/>
    <dataset name="DSNY" url="file:///converted/DSNY/DSNY.idx" permissions="public"/>
    <dataset name="GRSM" url="file:///converted/GRSM/GRSM.idx" permissions="public"/>
    <dataset name="GUAN" url="file:///converted/GUAN/GUAN.idx" permissions="public"/>
    <dataset name="HEAL" url="file:///converted/HEAL/HEAL.idx" permissions="public"/>
    <dataset name="HOPB" url="file:///converted/HOPB/HOPB.idx" permissions="public"/>
    <dataset name="JORN" url="file:///converted/JORN/JORN.idx" permissions="public"/>
    <dataset name="LENO" url="file:///converted/LENO/LENO.idx" permissions="public"/>
    <dataset name="NOGP" url="file:///converted/NOGP/NOGP.idx" permissions="public"/>
    <dataset name="PUUM" url="file:///converted/PUUM/PUUM.idx" permissions="public"/>
    <dataset name="SCBI" url="file:///converted/SCBI/SCBI.idx" permissions="public"/>
    <dataset name="SERC" url="file:///converted/SERC/SERC.idx" permissions="public"/>
    <dataset name="SJER" url="file:///converted/SJER/SJER.idx" permissions="public"/>
    <dataset name="TEAK" url="file:///converted/TEAK/TEAK.idx" permissions="public"/>
    <dataset name="WREF" url="file:///converted/WREF/WREF.idx" permissions="public"/>
</visus>
