<visus>
    <dataset name="BART - New Hampshire" url="file:///converted/BART/BART.idx" permissions="public"/>
    <dataset name="BLAN - Virginia" url="file:///converted/BLAN/BLAN.idx" permissions="public"/>
    <dataset name="CLBJ - Texas" url="file:///converted/CLBJ/CLBJ.idx" permissions="public"/>
    <dataset name="CUPE - Puerto Rico" url="file:///converted/CUPE/CUPE.idx" permissions="public"/>
    <dataset name="DSNY - Florida" url="file:///converted/DSNY/DSNY.idx" permissions="public"/>
    <dataset name="GRSM - North Carolina" url="file:///converted/GRSM/GRSM.idx" permissions="public"/>
    <dataset name="GUAN - Puerto Rico" url="file:///converted/GUAN/GUAN.idx" permissions="public"/>
    <dataset name="HEAL - Alaska" url="file:///converted/HEAL/HEAL.idx" permissions="public"/>
    <dataset name="HOPB - Massachusetts" url="file:///converted/HOPB/HOPB.idx" permissions="public"/>
    <dataset name="JORN - New Mexico" url="file:///converted/JORN/JORN.idx" permissions="public"/>
    <dataset name="LENO - Alabama" url="file:///converted/LENO/LENO.idx" permissions="public"/>
    <dataset name="NOGP - North Dakota" url="file:///converted/NOGP/NOGP.idx" permissions="public"/>
    <dataset name="PUUM - Hawaii" url="file:///converted/PUUM/PUUM.idx" permissions="public"/>
    <dataset name="SCBI - Virginia" url="file:///converted/SCBI/SCBI.idx" permissions="public"/>
    <dataset name="SERC - Maryland" url="file:///converted/SERC/SERC.idx" permissions="public"/>
    <dataset name="SJER - California" url="file:///converted/SJER/SJER.idx" permissions="public"/>
    <dataset name="TEAK - California" url="file:///converted/TEAK/TEAK.idx" permissions="public"/>
    <dataset name="WREF - Washington" url="file:///converted/WREF/WREF.idx" permissions="public"/>
</visus>
