<visus>
    <dataset name="ABBY - Oregon" url="file:///converted/ABBY/visus.idx" permissions="public"/>
    <dataset name="BART - New Hampshire" url="file:///converted/BART/visus.idx" permissions="public"/>
    <dataset name="BONA - Alaska" url="file:///converted/BONA/visus.idx" permissions="public"/>
    <dataset name="BLAN - Virginia" url="file:///converted/BLAN/visus.idx" permissions="public"/>
    <dataset name="CLBJ - Texas" url="file:///converted/CLBJ/visus.idx" permissions="public"/>
    <dataset name="CUPE - Puerto Rico" url="file:///converted/CUPE/visus.idx" permissions="public"/>
    <dataset name="DELA - Alabama" url="file:///converted/DELA/visus.idx" permissions="public"/>
    <dataset name="DEJU - Alaska" url="file:///converted/DEJU/visus.idx" permissions="public"/>
    <dataset name="DSNY - Florida" url="file:///converted/DSNY/visus.idx" permissions="public"/>
    <dataset name="GRSM - North Carolina" url="file:///converted/GRSM/visus.idx" permissions="public"/>
    <dataset name="GUAN - Puerto Rico" url="file:///converted/GUAN/visus.idx" permissions="public"/>
    <dataset name="GUIL - Puerto Rico" url="file:///converted/GUIL/visus.idx" permissions="public"/>
    <dataset name="HARV - Massachusetts" url="file:///converted/HARV/visus.idx" permissions="public"/>
    <dataset name="HEAL - Alaska" url="file:///converted/HEAL/visus.idx" permissions="public"/>
    <dataset name="HOPB - Massachusetts" url="file:///converted/HOPB/visus.idx" permissions="public"/>
    <dataset name="JERC -Georgia" url="file:///converted/JERC/visus.idx" permissions="public"/>
    <dataset name="JORN - New Mexico" url="file:///converted/JORN/visus.idx" permissions="public"/>
    <dataset name="KONZ - Kansas" url="file:///converted/KONZ/visus.idx" permissions="public"/>
    <dataset name="LAJA - Puerto Rico" url="file:///converted/LAJA/visus.idx" permissions="public"/>
    <dataset name="LENO - Alabama" url="file:///converted/LENO/visus.idx" permissions="public"/>
    <dataset name="MOAB - Utah" url="file:///converted/MOAB/visus.idx" permissions="public"/>
    <dataset name="NIWO - Colorado" url="file:///converted/NIWO/visus.idx" permissions="public"/>
    <dataset name="NOGP - North Dakota" url="file:///converted/NOGP/visus.idx" permissions="public"/>
    <dataset name="OSBS - Florida" url="file:///converted/OSBS/visus.idx" permissions="public"/>
    <dataset name="OAES - Oklahoma" url="file:///converted/OAES/visus.idx" permissions="public"/>
    <dataset name="PUUM - Hawaii" url="file:///converted/PUUM/visus.idx" permissions="public"/>
    <dataset name="REDB - Utah" url="file:///converted/REDB/visus.idx" permissions="public"/>
    <dataset name="RMNP - Colorado" url="file:///converted/RMNP/visus.idx" permissions="public"/>
    <dataset name="SOAP - California" url="file:///converted/SOAP/visus.idx" permissions="public"/>
    <dataset name="SCBI - Virginia" url="file:///converted/SCBI/visus.idx" permissions="public"/>
    <dataset name="SERC - Maryland" url="file:///converted/SERC/visus.idx" permissions="public"/>
    <dataset name="SJER - California" url="file:///converted/SJER/visus.idx" permissions="public"/>
    <dataset name="SRER - Arizona" url="file:///converted/SRER/visus.idx" permissions="public"/>
    <dataset name="TALL - Alabama" url="file:///converted/TALL/visus.idx" permissions="public"/>
    <dataset name="TEAK - California" url="file:///converted/TEAK/visus.idx" permissions="public"/>
    <dataset name="UKFS - Kentucky" url="file:///converted/UKFS/visus.idx" permissions="public"/>
    <dataset name="WLOU - Colorado" url="file:///converted/WLOU/visus.idx" permissions="public"/>
    <dataset name="WREF - Washington" url="file:///converted/WREF/visus.idx" permissions="public"/>
    <dataset name="WOOD - Washington" url="file:///converted/WOOD/visus.idx" permissions="public"/>
    <dataset name="YELL - Wyoming" url="file:///converted/YELL/visus.idx" permissions="public"/>
</visus>
